.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links a {
    color: white;
} 

a {
    color: black;
    text-decoration: none;
}

a.active {
    color: aqua;
    text-decoration: underline;
}

.lyrics-box {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lyrics-box p {
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
}
.album-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.album-box {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    min-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}